html {
  font-size: clamp(100%, 50% + 1vw, 150%);
}

body {
  background: linear-gradient(-135deg, #7fcaf6, #459be9);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.waffle {
  width: 18em;
  max-width: 90vw;
  height: 18em;
  margin: auto;
  background-color: #fddc85;
  border-radius: 0.25em;
  position: relative;
  box-shadow: inset 0 -0.5em 1em rgba(100, 70, 20, 0.3), 0 2px 0 0 #9a6e2a, 0 4px 0 -1px #9a6e2a, 0 6px 0 -2px #9a6e2a, 0 8px 0 -3px #906020, 0 10px 0 -4px #906020, 0 12px 0 -5px #885818, 0 14px 0 -6px #885818, 0 2em 4em -1.5em rgba(0, 0, 0, 0.5);
  background-image: repeating-linear-gradient(-115deg, #f8eeb9 0, #f8eeb9 0.25em, 0, transparent 1.25em), repeating-linear-gradient(155deg, #f8eeb9 0, #f8eeb9 0.25em, 0, #ffc555 0.5em, 0, transparent 1.25em), linear-gradient(#fddc85, #fdcd64);
}
.waffle:hover:before {
  height: 18.125em;
  border-radius: 0.5em 0.5em 24% 65%/0.5em 0.5em 2em 7em;
}
.waffle:hover:after {
  height: 16.75em;
  border-radius: 0.5em 0.5em 60% 40%/0.5em 0.5em 4em 7em;
}
.waffle:before {
  content: "";
  position: absolute;
  left: -0.25em;
  top: -0.25em;
  right: -0.25em;
  height: 7em;
  background: #fff;
  will-change: height, border-radius;
  border-radius: 0.5em 0.5em 65% 24%/0.5em 0.5em 3em 2em;
  box-shadow: inset 0.25em 0em 0.25em rgba(0, 0, 0, 0.4), inset -0.25em 0em 0.5em #E07306, inset 0.5em 0em 0.5em #E07306, inset -0.125em -0.25em 0.5em #FFB144, inset -0.5em -0.5em 0.5em rgba(255, 255, 255, 0.75), inset -0.75em -0.75em 1.25em #E07306, 0 0.125em 0.125em rgba(0, 0, 0, 0.3);
  transition: height 5s 0.1s ease-in-out, border-radius 4.5s 0.5s ease-in-out;
  background-image: repeating-linear-gradient(-115deg, #FC9711 0, #EC851C 0.25em, rgba(255, 177, 68, 0) 1.25em), repeating-linear-gradient(155deg, #FC9711 0, #EC851C 0.25em, rgba(255, 177, 68, 0) 1.25em), linear-gradient(#FFB144, #FC9711);
  background-position: 0 0.25em;
}
.waffle:after {
  content: "";
  position: absolute;
  left: -0.375em;
  top: -0.4375em;
  right: -0.4375em;
  height: 4.5em;
  will-change: height, border-radius;
  border-radius: 0.5em 0.5em 30% 70%/0.5em 0.5em 3em 3em;
  box-shadow: inset -0.5em -0.5em 0.5em #4b340e, inset 0.125em 0.25em 0.125em rgba(255, 255, 255, 0.1), inset 0.25em 0.5em 0.5em rgba(0, 0, 0, 0.3), 0 0.125em 0.25em rgba(0, 0, 0, 0.4);
  transition: height 5s 0.5s ease-in-out, border-radius 4.5s 1.5s ease-in-out;
  background-image: repeating-linear-gradient(#f09 0, #f09 2px, 0, #d08 5px), linear-gradient(#b06, #b07), linear-gradient(135deg, #5c4113 20%, #70511d 60%, #503000 90%);
  background-size: 2em 2.5em, 2.4em 2.7em, 19em 19em;
  background-repeat: no-repeat;
  background-position: right 2.5em top, right 2.3em top, left top;
}